/* RESETS */
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    vertical-align: baseline;
}

/* UTILS */
.inline-block { display: inline-block; }
.relative { position: relative; }
.absolute { position: absolute; }